<div class="container">
  <!-- <h1>MC Textures</h1>

  <mc-texture
      [mcTexture]="mcTexture">
  </mc-texture>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Block</mat-label>
      <input matInput formControlName="block" placeholder="Ex. brain_coral_block">
    </mat-form-field>
    <button mat-button type="submit">Submit</button>
  </form> -->

  <mc-texture-header-view
      [mcTextureKey]="'black_glazed_terracotta'"></mc-texture-header-view>
</div>